<html lang="en"><head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link href="../static/styles/cover.css" th:href="@{/styles/cover.css}" rel="stylesheet">
</head>

<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Brak uprawnień</h1>
        <p class="lead">Nie masz uprawnien aby przeglądać tę zawartość strony.</p>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>App created by SaQie</p>
        </div>
    </footer>
</div>
</body></html>