<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/html" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link href="../static/styles/register.css" th:href="@{/styles/register.css}" rel="stylesheet">
</head>
<body>
<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
                <div class="card-body p-4 p-md-5" th:if="${addedSuccessfully == null}">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center fw-bold">Dodaj nową firmę</h3>
                    <form class="px-md-2 form-floating" th:action="@{/add/company}" method="post">
                        <div class="mt-3 mb-3" style="color: darkred" th:if="${error != null}" th:text="${error}"></div>
                        <p class="mt-2" style="color: darkred" th:errors="${newCompanyDto}"></p>
                        <div class="form-outline mb-4">
                            <label class="form-label fw-bold" for="name">Nazwa firmy</label>
                            <input type="text" id="name" class="form-control" th:field="${newCompanyDto.name}"/>
                            <p class="mt-2" style="color: darkred" th:errors="${newCompanyDto.name}"></p>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label fw-bold" for="ownerName">Imię właściciela</label>
                            <input type="text" id="ownerName" class="form-control"
                                   th:field="${newCompanyDto.ownerName}"/>
                            <p class="mt-2" style="color: darkred" th:errors="${newCompanyDto.ownerName}"></p>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label fw-bold" for="ownerLastName">Nazwisko właściciela</label>
                            <input type="text" id="ownerLastName" class="form-control"
                                   th:field="${newCompanyDto.ownerLastName}"/>
                            <p class="mt-2" style="color: darkred" th:errors="${newCompanyDto.ownerLastName}"></p>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label fw-bold" for="adress">Adres firmy</label>
                            <input type="text" id="adress" class="form-control" th:field="${newCompanyDto.adress}"/>
                            <p class="mt-2" style="color: darkred" th:errors="${newCompanyDto.adress}"></p>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label fw-bold" for="phoneNumber">Numer telefonu</label>
                            <input type="number" id="phoneNumber" class="form-control"
                                   th:field="${newCompanyDto.telephoneNumber}"/>
                            <p class="mt-2" style="color: darkred" th:errors="${newCompanyDto.telephoneNumber}"></p>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label fw-bold" for="nip">Numer NIP</label>
                            <input type="number" id="nip" class="form-control" th:field="${newCompanyDto.nip}"/>
                            <p class="mt-2" style="color: darkred" th:errors="${newCompanyDto.nip}"></p>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label fw-bold" for="regon">Numer REGON</label>
                            <input type="number" id="regon" class="form-control" th:field="${newCompanyDto.regon}"/>
                            <p class="mt-2" style="color: darkred" th:errors="${newCompanyDto.regon}"></p>
                        </div>
                        <input type="hidden" class="form-control" th:field="${newCompanyDto.clientId}"/>
                        <div class="row">
                            <button type="submit" class="btn btn-success btn-lg mb-1 fw-bold">Potwierdz</button>
                            <small class="text-muted text-center">Jeśli posiadasz już konto przejdz <a href="/login"
                                                                                                       style="text-decoration: none">tutaj</a>
                                aby się zalogować. </small>
                        </div>
                    </form>
                </div>
                <div class="card-body p-4 p-md-5" th:if="${addedSuccessfully != null}">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center fw-bold">Dodawanie nowej firmy</h3>
                    <h5 class="mt-2 mb-2 text-center fw-bold text-success" th:text="${addedSuccessfully}"></h5>
                    <p class="text-muted text-center fw-bold">Możesz teraz przejsc do Twojego panelu konta.</p>
                    <div class="row text-center align-items-center align-self-center">
                        <a href="/company/panel">
                            <button type="button" class="btn btn-success btn-lg mb-1 fw-bold">Przejdz do panelu</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>